<ion-view title="Aimogasta" id="page88">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kqChUPDRfy4U0f7ouOxc_aimogasta-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="aimogasta-list27">
      <ion-item class="item-icon-left dark" id="aimogasta-list-item245" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/">
        <i class="icon ion-university"></i>Ing. en Alimentos</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item244" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Lic. en Administración</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item243" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item248" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-university"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item246" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-en-alimentos/">
        <i class="icon ion-university"></i>Tec. en Gestión de Empresas Alimenticias</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item247" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-civil/">
        <i class="icon ion-university"></i>Tec. en Gestión de pequeñas y medianas empresas</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item249" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-de-minas/">
        <i class="icon ion-university"></i>Téc. en Gestión administrativo contable</ion-item>
    </ion-list>
  </ion-content>
</ion-view>