<ion-view title="Chepes" id="page91">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/cD0pavgQjutxPEDkfsF3_chepes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="chepes-list30">
      <ion-item class="item-icon-left dark" id="chepes-list-item268" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-university"></i>Ing. Agropecuaria</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item265" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item266" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/">
        <i class="icon ion-university"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item267" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-university"></i>Prof. en Educación Física</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item269" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Prof. de nivel superior en Biología</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item270" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Tec. en Gestión y Admin. Contable</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item271" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Tec. en Gestión Jurídica</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item272" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Tec. en Gestión de Empresas Agrícolas</ion-item>
    </ion-list>
  </ion-content>
</ion-view>