<ion-view title="Horarios 1° Cuatrimestre" id="page67">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>El 1° Cuatrimestre inició el lunes 11 de marzo y finalizará el sabado 22 de junio.</strong>
        </span>
      </p>
      <p>
        <span style="color: #000000;">Las inscripción a las materias del 1° cuatrimestre se realizan desde el 11 a</span>
        <span style="color: #000000;">l 23 </span>de marzo, los estudiantes de años anteriores podrán inscribirse a través del&nbsp;SIU Guaraní.
        <span style="color: #000000;"> Mientras que los estudiantes que ingresaron este año no tendrán necesidad de hacerlo por ser su primer cuatrimestre, esto se hará automáticamente ya que la mayoría aún no esta cargado en el sistema&nbsp;SIU Guaraní.</span>
      </p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #ff6600;">
        <strong>Horarios (versión online)</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios1Cuatrimestre-list16">
      <ion-item class="item-icon-left item-icon-right positive" id="horarios1Cuatrimestre-list-item99" href-inappbrowser="http://secretariaestudiantil.unlar.edu.ar/departamento-academico-de-ciencias-y-tecnologias-aplicadas-a-la-produccion-al-ambiente-y-al-urbanismo/">
        <i class="icon ion-android-calendar"></i>Aplicadas
        <span class="item-note">Online</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right positive" id="horarios1Cuatrimestre-list-item104" href-inappbrowser="http://secretariaestudiantil.unlar.edu.ar/departamento-academico-de-ciencias-exactas-fisicas-y-naturales/">
        <i class="icon ion-android-calendar"></i>Exactas
        <span class="item-note">Online</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right positive" id="horarios1Cuatrimestre-list-item103" href-inappbrowser="http://secretariaestudiantil.unlar.edu.ar/departamento-academico-de-humanidades/">
        <i class="icon ion-android-calendar"></i>Humanas
        <span class="item-note">Online</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right positive" id="horarios1Cuatrimestre-list-item105" href-inappbrowser="http://secretariaestudiantil.unlar.edu.ar/departamento-academico-de-ciencias-sociales-juridicas-y-economicas/">
        <i class="icon ion-android-calendar"></i>Sociales
        <span class="item-note">Online</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right positive" id="horarios1Cuatrimestre-list-item101" href-inappbrowser="http://secretariaestudiantil.unlar.edu.ar/departamento-academico-de-ciencias-de-la-salud-y-la-educacion/">
        <i class="icon ion-android-calendar"></i>Salud
        <span class="item-note">Online</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/UGuoviTuRiCGpau4h518_GuiaUNLaRLinea1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>