<ion-view title="Olta" id="page93">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/LEeZARKzRJC5lKM2l39V_olta-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="olta-list32">
      <ion-item class="item-icon-left dark" id="olta-list-item287" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Tec. en Informática</ion-item>
      <ion-item class="item-icon-left dark" id="olta-list-item286" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Tec. en Guía de Turismo</ion-item>
    </ion-list>
  </ion-content>
</ion-view>