<ion-view title="Villa Unión" id="page92">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/4pWiXQrQvGAi7jnCEwaQ_villa-union-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="villaUniN-list31">
      <ion-item class="item-icon-left dark" id="villaUniN-list-item274" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/">
        <i class="icon ion-university"></i>Ing. Agroindustrial</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item275" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/">
        <i class="icon ion-university"></i>Lic. en Hidrogeología</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item277" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Lic. en Producción Vegetal</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item273" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-university"></i>Lic. en Turismo Ecológico</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item276" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-university"></i>Prof. en Educación Física</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item278" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Prof. en Matemática</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item280" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Tec. en Informática</ion-item>
    </ion-list>
  </ion-content>
</ion-view>